
.ItemCards {
  margin: 10px;
  padding: 10px;
  text-align: left;
  display:inline-flex;
 }

 .NavBar {
  display: inline-flex;
  align-content: space-between;
 }

 .cartItem {
  display: inline-flex;
  margin: 15px;
 }